@import "variable.scss";

.top-navigation {
  position: relative;
    display: block;
    width: 100%;
    background-color: $darkgray;
    color: $white;
    height: 4rem;

    .logo {
        position: absolute;
        top: 50%;
        left: 15px;
        @include translateY(-50%);
    }

    .top-link,
    .top-link ul,
    .top-link ul li {
        margin: 0;
        padding: 0;
    }

    .top-link {
        position: absolute;
        top: 50%;
        right: 15px;
        @include translateY(-50%);
        
        ul li {
            list-style-type: none;
            display: inline-block;
            margin-right: 0.5em;
            
            &.last {
                margin: 0;
            }
            
            a {
                font-size: 20px;
                line-height: normal;
                color: $white;
                text-decoration: none;
                @include transition(.4s ease-in-out);
                cursor: pointer;
                
                &:hover {
                    color: $red;
                    @include transition(.4s ease-in-out);
                }
            }
        }
    }
}

.contents {
      margin: auto;
      padding: 10px;
      max-width: 800px;
}